.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
}
.header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.image {
  height: 4rem;
}
.text {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.link {
  color: rgb(153, 153, 153);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Epilogue;
  font-weight: 300;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.link:hover {
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.link1 {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Epilogue;
  font-weight: 300;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.link1:hover {
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.link2 {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Epilogue;
  font-weight: 300;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.link2:hover {
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.link3 {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Epilogue;
  font-weight: 300;
  margin-right: 0px;
  text-decoration: none;
}
.link3:hover {
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.text07 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  max-width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Epilogue;
  font-weight: 500;
}
.image1 {
  width: 100px;
  object-fit: cover;
  transition: 0.3s;
}
.image1:focus {
  width: 70%;
}
@media(max-width: 1200px) {
  .header {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .image {
    margin-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 991px) {
  .header {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .text07 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .header {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .image {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text {
    display: none;
    flex-direction: column;
  }
  .link {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link1 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link3 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .container2 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .text07 {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 479px) {
  .header {
    padding: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .container2 {
    width: 100%;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .text07 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-style: normal;
    font-family: Epilogue;
    font-weight: 500;
  }
}
